<html>
  <head>
    <title>Node Stream</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src='client.js'></script>
  </head>
  <body>
    {{{body}}}
    <div class="div"></div>
  </body>
</html>