<p>input text to reverse:</p><br>
<form action="/info" method="post">
  <input type="text" name="string">
  <input type="submit">
</form>
<br>
<br>
<a href="/pic" class="pic">show me a picture</a>
<br>

{{info}}
<br>
